In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from keras.models import Model
from keras.models import Sequential
from keras.layers.recurrent import LSTM
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
from keras.layers import LSTM, Activation, Dense, Dropout, Input, Embedding
from keras.layers.core import  SpatialDropout1D
from keras.optimizers import RMSprop
from keras.wrappers.scikit_learn import KerasClassifier
from keras.preprocessing.text import Tokenizer
from keras.preprocessing import sequence
from keras.utils import to_categorical
from keras.callbacks import EarlyStopping
%matplotlib inline
import tensorflow as tf

from google.colab import files

Using TensorFlow backend.

<h1>Loading Data</h1>

In [0]:
upload = files.upload()

Saving conjuctivitis.csv to conjuctivitis.csv

In [0]:
df1 = pd.read_csv('conjuctivitis.csv')
df1.head()

                                                text  category  cat2
0  RT @UnicornDoc: When you have a stye in one ey...         1     1
1  When you have a stye in one eye and conjunctiv...         1     1
2  @nimmajji Get conjunctivitis from somewhere.. ...         0     0
3  RT @master_usmle: Streptococcus pneumoniae: di...         0     0
4  Actually so grateful for these eye drops the o...         2     1

In [0]:
df1.drop(['category', 'cat2'],axis=1,inplace=True)
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 656 entries, 0 to 655
Data columns (total 1 columns):
text    656 non-null object
dtypes: object(1)
memory usage: 5.2+ KB

In [0]:
df1.head()

                                                text
0  RT @UnicornDoc: When you have a stye in one ey...
1  When you have a stye in one eye and conjunctiv...
2  @nimmajji Get conjunctivitis from somewhere.. ...
3  RT @master_usmle: Streptococcus pneumoniae: di...
4  Actually so grateful for these eye drops the o...

In [0]:
df1['label'] = 'conjunctivitis'
df1.head()

                                                text           label
0  RT @UnicornDoc: When you have a stye in one ey...  conjunctivitis
1  When you have a stye in one eye and conjunctiv...  conjunctivitis
2  @nimmajji Get conjunctivitis from somewhere.. ...  conjunctivitis
3  RT @master_usmle: Streptococcus pneumoniae: di...  conjunctivitis
4  Actually so grateful for these eye drops the o...  conjunctivitis

In [0]:
upload = files.upload()

Saving conjuctivitis2.csv to conjuctivitis2.csv

In [0]:
df2 = pd.read_csv('conjuctivitis2.csv',encoding='latin-1')
df2.head()

                                                text  cat2
0  Leicester eye title boost https://t.co/ldhz61a...     0
1                             New color! Baby pink!      0
2  handmade Lanyards for ID badges and Eye Glasse...     0
3      @marissatunis wake up with the pink eye ????,     0
4  Sperry Top Sider Womens Bahama 2 Eye Boat Shoe...     0

In [0]:
df2.drop(['cat2'],axis=1,inplace=True)
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 720 entries, 0 to 719
Data columns (total 1 columns):
text    720 non-null object
dtypes: object(1)
memory usage: 5.7+ KB

In [0]:
df2.head()

                                                text
0  Leicester eye title boost https://t.co/ldhz61a...
1                             New color! Baby pink!
2  handmade Lanyards for ID badges and Eye Glasse...
3      @marissatunis wake up with the pink eye ????,
4  Sperry Top Sider Womens Bahama 2 Eye Boat Shoe...

In [0]:
df2['label'] = 'conjuctivitis2'
df2.head()

                                                text           label
0  Leicester eye title boost https://t.co/ldhz61a...  conjuctivitis2
1                             New color! Baby pink!   conjuctivitis2
2  handmade Lanyards for ID badges and Eye Glasse...  conjuctivitis2
3      @marissatunis wake up with the pink eye ????,  conjuctivitis2
4  Sperry Top Sider Womens Bahama 2 Eye Boat Shoe...  conjuctivitis2

In [0]:
upload = files.upload()

Saving gastroenteritis.csv to gastroenteritis.csv

In [0]:
df3 = pd.read_csv('gastroenteritis.csv',delimiter=',',encoding='latin-1')
df3.head()

                                                text  category  cat2
0  I haven't had the stomach flu since middle sch...         1     1
1  When you finally get your appetite back after ...         1     1
2            @_anddreaaa_ yup, with damn stomach flu         1     1
3                 Think I caught the stomach flu lol         1     1
4          @_MadeeInAsiaa omfg lmaoooo stomach flu!!         1     1

In [0]:
df3.drop(['category', 'cat2'],axis=1,inplace=True)
df3.info()
df3.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 645 entries, 0 to 644
Data columns (total 1 columns):
text    645 non-null object
dtypes: object(1)
memory usage: 5.1+ KB

                                                text
0  I haven't had the stomach flu since middle sch...
1  When you finally get your appetite back after ...
2            @_anddreaaa_ yup, with damn stomach flu
3                 Think I caught the stomach flu lol
4          @_MadeeInAsiaa omfg lmaoooo stomach flu!!

In [0]:
df3['label'] = 'gastroenteritis'
df3.head()

                                                text            label
0  I haven't had the stomach flu since middle sch...  gastroenteritis
1  When you finally get your appetite back after ...  gastroenteritis
2            @_anddreaaa_ yup, with damn stomach flu  gastroenteritis
3                 Think I caught the stomach flu lol  gastroenteritis
4          @_MadeeInAsiaa omfg lmaoooo stomach flu!!  gastroenteritis

In [0]:
upload = files.upload()

Saving influenza.csv to influenza.csv

In [0]:
df4 = pd.read_csv('influenza.csv',delimiter=',',encoding='latin-1')
df4.head()

                                                text  cat2
0  mr. Flu better answer my email or else im goin...     0
1  Why Marketers Should Pay Attention to Google F...     0
2                             I hate the flu. A lot.     1
3  Gota get something for this flu ehhhð iza n...     1
4                       I'm pretty sure this man flu     1

In [0]:
df4 = df4.iloc[0:1000, :]

In [0]:
df4.drop(['cat2'],axis=1,inplace=True)
df4.info()
df4.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 1 columns):
text    1000 non-null object
dtypes: object(1)
memory usage: 7.9+ KB

                                                text
0  mr. Flu better answer my email or else im goin...
1  Why Marketers Should Pay Attention to Google F...
2                             I hate the flu. A lot.
3  Gota get something for this flu ehhhð iza n...
4                       I'm pretty sure this man flu

In [0]:
df4['label'] = 'influenza'
df4.head()

                                                text      label
0  mr. Flu better answer my email or else im goin...  influenza
1  Why Marketers Should Pay Attention to Google F...  influenza
2                             I hate the flu. A lot.  influenza
3  Gota get something for this flu ehhhð iza n...  influenza
4                       I'm pretty sure this man flu  influenza

In [0]:
upload = files.upload()

Saving norovirus.csv to norovirus.csv

In [0]:
df5 = pd.read_csv('norovirus.csv',delimiter=',',encoding='latin-1')
df5.head()

                                                text  category  cat2
0  Norovirus Strikes British Cruise Ship! Hundred...         2     1
1  How do breast milk components interact with hu...         0     0
2  Hey girl you tust be the norovirus becaus. I c...         0     0
3  Hundreds of Brits struck with horror vomit-ind...         2     1
4  #HIS2016 @OutbreakJake what is the relationshi...         0     0

In [0]:
df5.drop(['category','cat2'],axis=1,inplace=True)
df5.info()
df5.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1287 entries, 0 to 1286
Data columns (total 1 columns):
text    1287 non-null object
dtypes: object(1)
memory usage: 10.1+ KB

                                                text
0  Norovirus Strikes British Cruise Ship! Hundred...
1  How do breast milk components interact with hu...
2  Hey girl you tust be the norovirus becaus. I c...
3  Hundreds of Brits struck with horror vomit-ind...
4  #HIS2016 @OutbreakJake what is the relationshi...

In [0]:
df5['label'] = 'Norovirus'
df5.head()

                                                text      label
0  Norovirus Strikes British Cruise Ship! Hundred...  Norovirus
1  How do breast milk components interact with hu...  Norovirus
2  Hey girl you tust be the norovirus becaus. I c...  Norovirus
3  Hundreds of Brits struck with horror vomit-ind...  Norovirus
4  #HIS2016 @OutbreakJake what is the relationshi...  Norovirus

In [0]:
df = pd.concat([df1,df2,df3,df4,df5])
df.head(5)

                                                text           label
0  RT @UnicornDoc: When you have a stye in one ey...  conjunctivitis
1  When you have a stye in one eye and conjunctiv...  conjunctivitis
2  @nimmajji Get conjunctivitis from somewhere.. ...  conjunctivitis
3  RT @master_usmle: Streptococcus pneumoniae: di...  conjunctivitis
4  Actually so grateful for these eye drops the o...  conjunctivitis

In [0]:
print (df.columns)

Index(['text', 'label'], dtype='object')

In [0]:
from sklearn.utils import shuffle
dataset = shuffle(df)

In [0]:
dataset.head(5)

                                                  text            label
624  First-class ken respecting conjunctivitis pet ...   conjunctivitis
377  @paigepezz I read that like the eye drops were...   conjuctivitis2
972  The first month of having a flu is always the ...        influenza
861  @erinscafe like the fuck am I paying you rent ...        Norovirus
587  This stomach flu ain't no joke. 2 time this ye...  gastroenteritis

In [0]:
dataset = dataset.iloc[0:800, :]

<h1>The model </h1>

In [0]:

# The maximum number of words to be used. (most frequent)
MAX_NB_WORDS = 50000
# Max number of words in each complaint.
MAX_SEQUENCE_LENGTH = 250
# This is fixed.
EMBEDDING_DIM = 100
tokenizer = Tokenizer(num_words=MAX_NB_WORDS, filters='!"#$%&()*+,-./:;<=>?@[\]^_`{|}~', lower=True)
tokenizer.fit_on_texts(dataset['text'].values)
word_index = tokenizer.word_index
print('Found %s unique tokens.' % len(word_index))

Found 3284 unique tokens.

In [0]:
X = tokenizer.texts_to_sequences(dataset['text'].values)
X = pad_sequences(X, maxlen=MAX_SEQUENCE_LENGTH)
print('Shape of data tensor:', X.shape)

Shape of data tensor: (800, 250)

In [0]:
Y = pd.get_dummies(dataset['label']).values
print('Shape of label tensor:', Y.shape)

Shape of label tensor: (800, 5)

In [0]:

X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.10, random_state = 42)
print(X_train.shape,Y_train.shape)
print(X_test.shape,Y_test.shape)

(720, 250) (720, 5)
(80, 250) (80, 5)

<h1>Hyperparameter optimization</h1>

<h2> batch_size /epoches</h2>

In [0]:
def create_model():
	# create model
	model = Sequential()
	model.add(Embedding(MAX_NB_WORDS, EMBEDDING_DIM, input_length=X.shape[1]))
	model.add(SpatialDropout1D(0.2))
	model.add(LSTM(100, dropout=0.2, recurrent_dropout=0.2))
	model.add(Dense(5, activation='softmax'))
	# Compile model
	model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
	return model

In [0]:
# fix random seed for reproducibility
seed = 7
numpy.random.seed(seed)

In [0]:
# create model
model = KerasClassifier(build_fn=create_model, verbose=0)

In [0]:

# define the grid search parameters
batch_size = [64, 128]
epochs = [5,10]
param_grid = dict(batch_size=batch_size, epochs=epochs)
grid = GridSearchCV(estimator=model, param_grid=param_grid, n_jobs=1)
grid_result = grid.fit(X, Y)
print("Best: %f using %s" % (grid_result.best_score_, grid_result.best_params_))
means = grid_result.cv_results_['mean_test_score']
stds = grid_result.cv_results_['std_test_score']
params = grid_result.cv_results_['params']
for mean, stdev, param in zip(means, stds, params):
    print("%f (%f) with: %r" % (mean, stdev, param))

/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)

Best: 0.758750 using {'batch_size': 64, 'epochs': 10}
0.487500 (0.007563) with: {'batch_size': 64, 'epochs': 5}
0.758750 (0.075346) with: {'batch_size': 64, 'epochs': 10}
0.436250 (0.043933) with: {'batch_size': 128, 'epochs': 5}
0.570000 (0.079323) with: {'batch_size': 128, 'epochs': 10}

<h2>Optimizer</h2>

In [0]:
def create_model(optimizer='adam'):
	# create model
	model = Sequential()
	model.add(Embedding(MAX_NB_WORDS, EMBEDDING_DIM, input_length=X.shape[1]))
	model.add(SpatialDropout1D(0.2))
	model.add(LSTM(100, dropout=0.2, recurrent_dropout=0.2))
	model.add(Dense(5, activation='softmax'))
	# Compile model
	model.compile(loss='categorical_crossentropy', optimizer=optimizer, metrics=['accuracy'])
	return model

In [0]:
model = KerasClassifier(build_fn=create_model, epochs=5, batch_size=64, verbose=0)

In [0]:
# define the grid search parameters
optimizer = ['SGD', 'RMSprop', 'Adagrad', 'Adadelta', 'Adam', 'Adamax', 'Nadam']
param_grid = dict(optimizer=optimizer)
grid = GridSearchCV(estimator=model, param_grid=param_grid, n_jobs=1)
grid_result = grid.fit(X, Y)
# summarize results
print("Best: %f using %s" % (grid_result.best_score_, grid_result.best_params_))
means = grid_result.cv_results_['mean_test_score']
stds = grid_result.cv_results_['std_test_score']
params = grid_result.cv_results_['params']
for mean, stdev, param in zip(means, stds, params):
    print("%f (%f) with: %r" % (mean, stdev, param))

/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)

Best: 0.746250 using {'optimizer': 'Adagrad'}
0.318750 (0.005644) with: {'optimizer': 'SGD'}
0.652500 (0.005158) with: {'optimizer': 'RMSprop'}
0.746250 (0.028027) with: {'optimizer': 'Adagrad'}
0.550000 (0.032918) with: {'optimizer': 'Adadelta'}
0.621250 (0.040709) with: {'optimizer': 'Adam'}
0.596250 (0.023595) with: {'optimizer': 'Adamax'}
0.691250 (0.024324) with: {'optimizer': 'Nadam'}

<h2>Neuron Activation Function</h2>

In [0]:
def create_model(activation='relu'):
	# create model
	model = Sequential()
	model.add(Embedding(MAX_NB_WORDS, EMBEDDING_DIM, input_length=X.shape[1]))
	model.add(SpatialDropout1D(0.2))
	model.add(LSTM(100, dropout=0.2, recurrent_dropout=0.2))
	model.add(Dense(5, activation=activation))
	# Compile model
	model.compile(loss='categorical_crossentropy', optimizer='Adagrad', metrics=['accuracy'])
	return model

In [0]:
model = KerasClassifier(build_fn=create_model, epochs=5, batch_size=64, verbose=0)

In [0]:
# define the grid search parameters
activation = ['softmax', 'softplus', 'softsign', 'relu', 'tanh', 'sigmoid', 'hard_sigmoid', 'linear']
param_grid = dict(activation=activation)
grid = GridSearchCV(estimator=model, param_grid=param_grid, n_jobs=1)
grid_result = grid.fit(X, Y)
# summarize results
print("Best: %f using %s" % (grid_result.best_score_, grid_result.best_params_))
means = grid_result.cv_results_['mean_test_score']
stds = grid_result.cv_results_['std_test_score']
params = grid_result.cv_results_['params']
for mean, stdev, param in zip(means, stds, params):
    print("%f (%f) with: %r" % (mean, stdev, param))

/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_search.py:813: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

Best: 0.778750 using {'activation': 'softmax'}
0.778750 (0.047900) with: {'activation': 'softmax'}
0.668750 (0.045994) with: {'activation': 'softplus'}
0.227500 (0.103332) with: {'activation': 'softsign'}
0.608750 (0.126712) with: {'activation': 'relu'}
0.161250 (0.027541) with: {'activation': 'tanh'}
0.688750 (0.013929) with: {'activation': 'sigmoid'}
0.595000 (0.090232) with: {'activation': 'hard_sigmoid'}
0.236250 (0.065166) with: {'activation': 'linear'}

<h2>Dropout Regularization</h2>

In [0]:
def create_model(dropout=0.0):
	# create model
	model = Sequential()
	model.add(Embedding(MAX_NB_WORDS, EMBEDDING_DIM, input_length=X.shape[1]))
	model.add(SpatialDropout1D(0.2))
	model.add(LSTM(100, dropout=dropout, recurrent_dropout=0.2))
	model.add(Dense(5, activation='softmax'))
	# Compile model
	model.compile(loss='categorical_crossentropy', optimizer='Adagrad', metrics=['accuracy'])
	return model

In [0]:
model = KerasClassifier(build_fn=create_model, epochs=5, batch_size=64, verbose=0)

In [0]:
dropout = [0.0, 0.1, 0.2, 0.3]
param_grid = dict(dropout=dropout)
grid = GridSearchCV(estimator=model, param_grid=param_grid, n_jobs=1)
grid_result = grid.fit(X, Y)
# summarize results
print("Best: %f using %s" % (grid_result.best_score_, grid_result.best_params_))
means = grid_result.cv_results_['mean_test_score']
stds = grid_result.cv_results_['std_test_score']
params = grid_result.cv_results_['params']
for mean, stdev, param in zip(means, stds, params):
    print("%f (%f) with: %r" % (mean, stdev, param))

/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)

Best: 0.786250 using {'dropout': 0.1}
0.765000 (0.035417) with: {'dropout': 0.0}
0.786250 (0.018839) with: {'dropout': 0.1}
0.727500 (0.069333) with: {'dropout': 0.2}
0.755000 (0.018384) with: {'dropout': 0.3}